<mat-card class="content">
    <div class="search">
        <mat-form-field class="example-form-field">
            <mat-label>Filter</mat-label>
            <input matInput type="text" [formControl]="searchInput" />
            <button *ngIf="searchInput" matSuffix mat-icon-button aria-label="Clear" (click)="searchInput.setValue('')">
        <mat-icon>close</mat-icon>
      </button>
        </mat-form-field>
    </div>
    <div class="fatherCard">
        <div class="cards">
            <mat-card class="card" *ngFor="let item of peopleSelected$ | async">
                <mat-card-header>
                    <mat-card-title-group>
                        <div class="info">
                            <mat-card-title>{{ item.surname }} {{ item.surname2 }}, {{ item.name }}</mat-card-title>
                            <mat-card-subtitle>{{ item.phone }}</mat-card-subtitle>
                        </div>
                        <img class="card-image" mat-card-sm-image src="../../../assets/img/unknow.png" />
                    </mat-card-title-group>
                </mat-card-header>
            </mat-card>
        </div>
        <mat-paginator #paginator class="paginator" [length]="(allPeople$ | async)?.length" [pageSize]="5" [pageSizeOptions]="[3, 4, 5, 6]" aria-label="Select page">
        </mat-paginator>
    </div>
</mat-card>